<form action="/edit/<%= task._id %>" method="POST">
  <label>
    Title:
    <input
      type="text"
      name="title"
      value="<%= task.title %>"
      required
      autocomplete="off"
    />
  </label>
  <br />

  <label>
    Description:
    <textarea
      name="description"
      placeholder="Description"
      rows="3"
      autocomplete="off"
    >
<%= task.description || '' %></textarea
    >
  </label>
  <br />

  <label>
    Deadline:
    <input
      type="datetime-local"
      name="deadline"
      value="<%= new Date(task.deadline).toISOString().slice(0,16) %>"
      required
    />
  </label>
  <br />

  <button type="submit">Update</button>
</form>
<a href="/">Back</a>
